@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}
#game
{
    display: flex;
    position: relative;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
h3
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    background-color: chartreuse;
}
.counters
{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 20px;
    background-color: blue;
}

.player , .computer
{
    display: flex;
    justify-content: space-evenly;
    font-size: 7rem;
    background-color: aliceblue;
    width: 100%;
}
.player
{
   
    transform: rotate(-250deg) scaleX(-1);
}
.computer
{
    
    transform: rotate(250deg);
}
.btn-choices
{
    /* background: none; */
    position: absolute;
    display: flex;
    justify-content: space-between;
    
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 100ms;
}
.btn-choices:hover
{
    transform: scale(1.2);
}